extends layout
block customCSS
    link(rel="stylesheet" href="/stylesheets/index.css")

block content
  div
    div(class="plzspace1")
    div(class="grid-container")
      div(class="grid-item" id="r1c1")= message_r1c1
      div(class="grid-item" id="r1c2")= message_r1c2
      div(class="grid-item" id="r1c3")= message_r1c3
      div(class="grid-item" id="r1c4")= message_r1c4
      div(class="grid-item" id="r1c5")= message_r1c5
      div(class="grid-item" id="r1c6")= message_r1c6
      div(class="grid-item" id="r1c7")= message_r1c7
      div(class="grid-item" id="r1c8")= message_r1c8
      div(class="grid-item" id="r1c9")= message_r1c9
      div(class="grid-item" id="r1c10")= message_r1c10
      div(class="grid-item" id="r1c11")= message_r1c11
      div(class="grid-item" id="r1c12")= message_r1c12
      div(class="grid-item" id="r1c13")= message_r1c13
      div(class="grid-item" id="r1c14")= message_r1c14
      div(class="grid-item" id="r1c15")= message_r1c15
      div(class="grid-item" id="r2c1")= message_r2c1
      div(class="grid-item" id="r2c2")= message_r2c2
      div(class="grid-item" id="r2c3")= message_r2c3
      div(class="grid-item" id="r2c4")= message_r2c4
      div(class="grid-item" id="r2c5")= message_r2c5
      div(class="grid-item" id="r2c6")= message_r2c6
      div(class="grid-item" id="r2c7")= message_r2c7
      div(class="grid-item" id="r2c8")= message_r2c8
      div(class="grid-item" id="r2c9")= message_r2c9
      div(class="grid-item" id="r2c10")= message_r2c10
      div(class="grid-item" id="r2c11")= message_r2c11
      div(class="grid-item" id="r2c12")= message_r2c12
      div(class="grid-item" id="r2c13")= message_r2c13
      div(class="grid-item" id="r2c14")= message_r2c14
      div(class="grid-item" id="r2c15")= message_r2c15
      div(class="grid-item" id="r3c1")= message_r3c1
      div(class="grid-item" id="r3c2")= message_r3c2
      div(class="grid-item" id="r3c3")= message_r3c3
      div(class="grid-item" id="r3c4")= message_r3c4
      div(class="grid-item" id="r3c5")= message_r3c5
      div(class="grid-item" id="r3c6")= message_r3c6
      div(class="grid-item" id="r3c7")= message_r3c7
      div(class="grid-item" id="r3c8")= message_r3c8
      div(class="grid-item" id="r3c9")= message_r3c9
      div(class="grid-item" id="r3c10")= message_r3c10
      div(class="grid-item" id="r3c11")= message_r3c11
      div(class="grid-item" id="r3c12")= message_r3c12
      div(class="grid-item" id="r3c13")= message_r3c13
      div(class="grid-item" id="r3c14")= message_r3c14
      div(class="grid-item" id="r3c15")= message_r3c15
      div(class="grid-item" id="r4c1")= message_r4c1
      div(class="grid-item" id="r4c2")= message_r4c2
      div(class="grid-item" id="r4c3")= message_r4c3
      div(class="grid-item" id="r4c4")= message_r4c4
      div(class="grid-item" id="r4c5")= message_r4c5
      div(class="grid-item" id="r4c6")= message_r4c6
      div(class="grid-item" id="r4c7")= message_r4c7
      div(class="grid-item" id="r4c8")= message_r4c8
      div(class="grid-item" id="r4c9")= message_r4c9
      div(class="grid-item" id="r4c10")= message_r4c10
      div(class="grid-item" id="r4c11")= message_r4c11
      div(class="grid-item" id="r4c12")= message_r4c12
      div(class="grid-item" id="r4c13")= message_r4c13
      div(class="grid-item" id="r4c14")= message_r4c14
      div(class="grid-item" id="r4c15")= message_r4c15
      div(class="grid-item" id="r5c1")= message_r5c1
      div(class="grid-item" id="r5c2")= message_r5c2
      div(class="grid-item" id="r5c3")= message_r5c3
      div(class="grid-item" id="r5c4")= message_r5c4
      div(class="grid-item" id="r5c5")= message_r5c5
      div(class="grid-item" id="r5c6")= message_r5c6
      div(class="grid-item" id="r5c7")= message_r5c7
      div(class="grid-item" id="r5c8")= message_r5c8
      div(class="grid-item" id="r5c9")= message_r5c9
      div(class="grid-item" id="r5c10")= message_r5c10
      div(class="grid-item" id="r5c11")= message_r5c11
      div(class="grid-item" id="r5c12")= message_r5c12
      div(class="grid-item" id="r5c13")= message_r5c13
      div(class="grid-item" id="r5c14")= message_r5c14
      div(class="grid-item" id="r5c15")= message_r5c15
      div(class="grid-item" id="r6c1")= message_r6c1
      div(class="grid-item" id="r6c2")= message_r6c2
      div(class="grid-item" id="r6c3")= message_r6c3
      div(class="grid-item" id="r6c4")= message_r6c4
      div(class="grid-item" id="r6c5")= message_r6c5
      div(class="grid-item" id="r6c6")= message_r6c6
      div(class="grid-item" id="r6c7")= message_r6c7
      div(class="grid-item" id="r6c8")= message_r6c8
      div(class="grid-item" id="r6c9")= message_r6c9
      div(class="grid-item" id="r6c10")= message_r6c10
      div(class="grid-item" id="r6c11")= message_r6c11
      div(class="grid-item" id="r6c12")= message_r6c12
      div(class="grid-item" id="r6c13")= message_r6c13
      div(class="grid-item" id="r6c14")= message_r6c14
      div(class="grid-item" id="r6c15")= message_r6c15
      div(class="grid-item" id="r7c1")= message_r7c1
      div(class="grid-item" id="r7c2")= message_r7c2
      div(class="grid-item" id="r7c3")= message_r7c3
      div(class="grid-item" id="r7c4")= message_r7c4
      div(class="grid-item" id="r7c5")= message_r7c5
      div(class="grid-item" id="r7c6")= message_r7c6
      div(class="grid-item" id="r7c7")= message_r7c7
      div(class="grid-item" id="r7c8")= message_r7c8
      div(class="grid-item" id="r7c9")= message_r7c9
      div(class="grid-item" id="r7c10")= message_r7c10
      div(class="grid-item" id="r7c11")= message_r7c11
      div(class="grid-item" id="r7c12")= message_r7c12
      div(class="grid-item" id="r7c13")= message_r7c13
      div(class="grid-item" id="r7c14")= message_r7c14
      div(class="grid-item" id="r7c15")= message_r7c15
      div(class="grid-item" id="r8c1")= message_r8c1
      div(class="grid-item" id="r8c2")= message_r8c2
      div(class="grid-item" id="r8c3")= message_r8c3
      div(class="grid-item" id="r8c4")= message_r8c4
      div(class="grid-item" id="r8c5")= message_r8c5
      div(class="grid-item" id="r8c6")= message_r8c6
      div(class="grid-item" id="r8c7")= message_r8c7
      div(class="grid-item" id="r8c8")= message_r8c8
      div(class="grid-item" id="r8c9")= message_r8c9
      div(class="grid-item" id="r8c10")= message_r8c10
      div(class="grid-item" id="r8c11")= message_r8c11
      div(class="grid-item" id="r8c12")= message_r8c12
      div(class="grid-item" id="r8c13")= message_r8c13
      div(class="grid-item" id="r8c14")= message_r8c14
      div(class="grid-item" id="r8c15")= message_r8c15
      div(class="grid-item" id="r9c1")= message_r9c1
      div(class="grid-item" id="r9c2")= message_r9c2
      div(class="grid-item" id="r9c3")= message_r9c3
      div(class="grid-item" id="r9c4")= message_r9c4
      div(class="grid-item" id="r9c5")= message_r9c5
      div(class="grid-item" id="r9c6")= message_r9c6
      div(class="grid-item" id="r9c7")= message_r9c7
      div(class="grid-item" id="r9c8")= message_r9c8
      div(class="grid-item" id="r9c9")= message_r9c9
      div(class="grid-item" id="r9c10")= message_r9c10
      div(class="grid-item" id="r9c11")= message_r9c11
      div(class="grid-item" id="r9c12")= message_r9c12
      div(class="grid-item" id="r9c13")= message_r9c13
      div(class="grid-item" id="r9c14")= message_r9c14
      div(class="grid-item" id="r9c15")= message_r9c15
      div(class="grid-item" id="r10c1")= message_r10c1
      div(class="grid-item" id="r10c2")= message_r10c2
      div(class="grid-item" id="r10c3")= message_r10c3
      div(class="grid-item" id="r10c4")= message_r10c4
      div(class="grid-item" id="r10c5")= message_r10c5
      div(class="grid-item" id="r10c6")= message_r10c6
      div(class="grid-item" id="r10c7")= message_r10c7
      div(class="grid-item" id="r10c8")= message_r10c8
      div(class="grid-item" id="r10c9")= message_r10c9
      div(class="grid-item" id="r10c10")= message_r10c10
      div(class="grid-item" id="r10c11")= message_r10c11
      div(class="grid-item" id="r10c12")= message_r10c12
      div(class="grid-item" id="r10c13")= message_r10c13
      div(class="grid-item" id="r10c14")= message_r10c14
      div(class="grid-item" id="r10c15")= message_r10c15
      div(class="grid-item" id="r11c1")= message_r11c1
      div(class="grid-item" id="r11c2")= message_r11c2
      div(class="grid-item" id="r11c3")= message_r11c3
      div(class="grid-item" id="r11c4")= message_r11c4
      div(class="grid-item" id="r11c5")= message_r11c5
      div(class="grid-item" id="r11c6")= message_r11c6
      div(class="grid-item" id="r11c7")= message_r11c7
      div(class="grid-item" id="r11c8")= message_r11c8
      div(class="grid-item" id="r11c9")= message_r11c9
      div(class="grid-item" id="r11c10")= message_r11c10
      div(class="grid-item" id="r11c11")= message_r11c11
      div(class="grid-item" id="r11c12")= message_r11c12
      div(class="grid-item" id="r11c13")= message_r11c13
      div(class="grid-item" id="r11c14")= message_r11c14
      div(class="grid-item" id="r11c15")= message_r11c15
      div(class="grid-item" id="r12c1")= message_r12c1
      div(class="grid-item" id="r12c2")= message_r12c2
      div(class="grid-item" id="r12c3")= message_r12c3
      div(class="grid-item" id="r12c4")= message_r12c4
      div(class="grid-item" id="r12c5")= message_r12c5
      div(class="grid-item" id="r12c6")= message_r12c6
      div(class="grid-item" id="r12c7")= message_r12c7
      div(class="grid-item" id="r12c8")= message_r12c8
      div(class="grid-item" id="r12c9")= message_r12c9
      div(class="grid-item" id="r12c10")= message_r12c10
      div(class="grid-item" id="r12c11")= message_r12c11
      div(class="grid-item" id="r12c12")= message_r12c12
      div(class="grid-item" id="r12c13")= message_r12c13
      div(class="grid-item" id="r12c14")= message_r12c14
      div(class="grid-item" id="r12c15")= message_r12c15
      div(class="grid-item" id="r13c1")= message_r13c1
      div(class="grid-item" id="r13c2")= message_r13c2
      div(class="grid-item" id="r13c3")= message_r13c3
      div(class="grid-item" id="r13c4")= message_r13c4
      div(class="grid-item" id="r13c5")= message_r13c5
      div(class="grid-item" id="r13c6")= message_r13c6
      div(class="grid-item" id="r13c7")= message_r13c7
      div(class="grid-item" id="r13c8")= message_r13c8
      div(class="grid-item" id="r13c9")= message_r13c9
      div(class="grid-item" id="r13c10")= message_r13c10
      div(class="grid-item" id="r13c11")= message_r13c11
      div(class="grid-item" id="r13c12")= message_r13c12
      div(class="grid-item" id="r13c13")= message_r13c13
      div(class="grid-item" id="r13c14")= message_r13c14
      div(class="grid-item" id="r13c15")= message_r13c15
      div(class="grid-item" id="r14c1")= message_r14c1
      div(class="grid-item" id="r14c2")= message_r14c2
      div(class="grid-item" id="r14c3")= message_r14c3
      div(class="grid-item" id="r14c4")= message_r14c4
      div(class="grid-item" id="r14c5")= message_r14c5
      div(class="grid-item" id="r14c6")= message_r14c6
      div(class="grid-item" id="r14c7")= message_r14c7
      div(class="grid-item" id="r14c8")= message_r14c8
      div(class="grid-item" id="r14c9")= message_r14c9
      div(class="grid-item" id="r14c10")= message_r14c10
      div(class="grid-item" id="r14c11")= message_r14c11
      div(class="grid-item" id="r14c12")= message_r14c12
      div(class="grid-item" id="r14c13")= message_r14c13
      div(class="grid-item" id="r14c14")= message_r14c14
      div(class="grid-item" id="r14c15")= message_r14c15
      div(class="grid-item" id="r15c1")= message_r15c1
      div(class="grid-item" id="r15c2")= message_r15c2
      div(class="grid-item" id="r15c3")= message_r15c3
      div(class="grid-item" id="r15c4")= message_r15c4
      div(class="grid-item" id="r15c5")= message_r15c5
      div(class="grid-item" id="r15c6")= message_r15c6
      div(class="grid-item" id="r15c7")= message_r15c7
      div(class="grid-item" id="r15c8")= message_r15c8
      div(class="grid-item" id="r15c9")= message_r15c9
      div(class="grid-item" id="r15c10")= message_r15c10
      div(class="grid-item" id="r15c11")= message_r15c11
      div(class="grid-item" id="r15c12")= message_r15c12
      div(class="grid-item" id="r15c13")= message_r15c13
      div(class="grid-item" id="r15c14")= message_r15c14
      div(class="grid-item" id="r15c15")= message_r15c15
    div(class="plzspace")